In [20]:
##Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
import re

sample_text = 'Python Exercises, PHP exercises.'

result = re.sub(r"[ ,.]",":",sample_text)
print(result)

Python:Exercises::PHP:exercises:

In [8]:
# Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
import re
import pandas as pd

dictionary = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(dictionary)

pattern = (r"[^a-z]")

df["SUMMARY"] = df["SUMMARY"].str.replace(pattern," ")

print(df)

                  SUMMARY
0           hello  world
1                    test
2     four  five   six

C:\Users\heram\AppData\Local\Temp\ipykernel_17596\3477653956.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  df["SUMMARY"] = df["SUMMARY"].str.replace(pattern," ")

In [21]:
# Question 3 - Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory
import re

string1 = "This is a test string to find all words that are atleast 4 character long in a string"
string_pattern = (r"\b\w{4,}\b")

regex_pattern = re.compile(string_pattern)

result = regex_pattern.findall(string1)
print(result)

['This', 'test', 'string', 'find', 'words', 'that', 'atleast', 'character', 'long', 'string']

In [33]:
# Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.
import re

string2 = "This is a test string to find all words that are atleast 4 character long in a string.txt"
string_pattern = (r"\b\w{3,5}\b")

regex_pattern = re.compile(string_pattern)

result = regex_pattern.findall(string2)
print(result)

['This', 'test', 'find', 'all', 'words', 'that', 'are', 'long', 'txt']

In [93]:
# Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
import re

sample_text=  ["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello(Data Science World)", "Data(Scientist)"]
pattern = re.compile(r"\((.*?)\)")
for text in sample_text:
    
    result = pattern.sub(r"\1",text)
    print(result)

example.com
hr@fliprobo.com
github.com
HelloData Science World
DataScientist

In [10]:
# Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
import re

file = open("textfile1.txt","r")

text = file.read()
#file.close

result = re.sub(r"\([^)]*\)","",text)
print(result)

["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

In [96]:
# Question 7- Write a regular expression in Python to split a string into uppercase letters.
import re

sample_text=  "ImportanceOfRegularExpressionsInPython"
pattern = re.compile(r"[A-Z][^A-Z]*")

result = pattern.findall(sample_text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [74]:
# Question 8- Create a function in python to insert spaces between words starting with numbers.
import re

a =  "RegularExpression1IsAn2ImportantTopic3InPython"

result = re.sub(r"(\d)",r" \1",a)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [79]:
# Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
import re

a = "RegularExpression1IsAn2ImportantTopic3InPython"

result = re.sub(r"\B([A-Z0-9)])",r" \1",a)
print(result)

Regular Expression 1 Is An 2 Important Topic 3 In Python

In [74]:
# Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
import pandas as pd
import re

link = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"

df = pd.read_csv(link)

pattern = (r"\b(\w{6})")

df["first_5_letter"] = df["Country"].str.extract(pattern)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_5_letter
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,NaN
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,NaN
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,NaN

In [87]:
#Question 11 -Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.
import re

def string_match(str1):
    
    pattern = r'^[a-zA-Z0-9_]+$'
    
    if  re.match(pattern,str1):
        return True
    else:
        return False
    
print(string_match("This_is_a_test_string1"))
print(string_match("This is a test string2")) #in this test string it contails space thus it fails the given condition

True
False

In [90]:
# Question 12- Write a Python program where a string will start with a specific number.
import re

def start_number(string,number):
    pattern = r"^"+str(number)
    
    if re.match(pattern,string):
        return True
    else:
        return False
    
    


print(start_number("46alpha",4))
print(start_number("46alpha",5))

True
False

In [82]:
# Question 13- Write a Python program to remove leading zeros from an IP address
import re

ip = "186.451.008.009"
pattern = re.compile(r"\b0+(?!\b)")

new_ip = pattern.sub("",ip)
print(new_ip)

186.451.8.9

In [35]:
# Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
#Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
import re

text_file = open("textfile2.txt","r")

str1 = text_file.read()


pattern = (r"\b([A-Za-z]+\s\d{1,2}(?:th|st|nd)?\s\d{4})\b")
date = re.findall(pattern,str1)

print(date)

['August 15th 1947']

In [93]:
# Question 15- Write a Python program to search some literals strings in a string.
import re

def search(text,literals):
    
    for literal in literals:
        if re.search(literal,text):
            print(f" '{literal}' is present inn the text.")
        else:
            print(f" '{literal}' not present in the text.")
            
            
text = 'The quick brown fox jumps over the lazy dog.'
literals = ["fox","dog","horse"]
search(text,literals)

 'fox' is present inn the text.
 'dog' is present inn the text.
 'horse' not present in the text.

In [113]:
# Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

import re

def search(text,literal):
    
    if re.search(literal,text):
        print(f" '{literal}' is present inn the text, and location is {re.search(literal,text).start()} .")
    else:
        print(f" '{literal}' not present in the text.")
            
            
text = 'The quick brown fox jumps over the lazy dog.'
literal = "fox"
search(text,literal)

 'fox' is present inn the text, and location is 16  .

In [112]:
# Question 17- Write a Python program to find the substrings within a string.

import re

sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
    
result = re.findall(pattern,sample_text)
print (result)

['exercises', 'exercises', 'exercises']

In [72]:
# Question 18- Write a Python program to find the occurrence and position of the substrings within a string.
import re

string = "hi everyone, this is a test string"
substring = "test"

pattern = re.compile(substring)

matches = pattern.findall(string)

occurence = len(matches)

position = [match.start() for match in pattern.finditer(string)]
    
print(matches,occurence,position)

['test'] 1 [23]

In [32]:
# Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.
import re

sample_text = "2022-09-27"


result = re.sub(r"(\d{4})-(\d{1,2})-(\d{1,2})",r"\3-\2-\1",sample_text)
print(result)

27-09-2022

In [30]:
# Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
import re

sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
    
pattern = re.compile(r"\d+\.\d{1,2}")

result = pattern.findall(sample_text)
print(result)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

In [60]:
# Question 21- Write a Python program to separate and print the numbers and their position of a given string.
import re

text = "data science12 is a stream 12"

matches = re.finditer(r"\d+", text)

for match in matches:
    
  print(match.group(),"at", match.start())

12 at 12
12 at 27

In [57]:
# Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
import re

my_marks =  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern = re.compile(r"\d+")

numbers = map(int,pattern.findall(my_marks))

result = max(numbers)
print(result)

950

In [98]:
# Question 23- Create a function in python to insert spaces between words starting with capital letters.
import re

sample_text = "RegularExpressionIsAnImportantTopicInPython"

result = re.sub(r"\B([A-Z)])",r" \1",a)
print(result)

Regular Expression1 Is An2 Important Topic3 In Python

In [99]:
# Question 24- Python regex to find sequences of one upper case letter followed by lower case letters
import re

sample_text = " Consider this as a Sample String"

pattern = r"[A-Z][a-z]*"

result = re.findall(pattern,sample_text)
print(result)

['Consider', 'Sample', 'String']

In [107]:
# Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
import re

sample_text = "Hello hello world world"

pattern = r"\b(\w+)(\s+\1)+\b"

result = re.sub(pattern,r"\1",sample_text)
print(result)

Hello hello world

In [53]:
# Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.
import re

def check_string(string):
    pattern = (r"\w$")
  

    accept = re.search(pattern, string)
  
    if match:
        return True
    else:
        return False


print(check_string("hello"))

print(check_string("hello!"))

print(check_string("123")) 

print(check_string("123a"))



print(match)

True
False
True
True
None

In [9]:
# Question 27-Write a python program using RegEx to extract the hashtags.
import re

sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""


pattern = re.compile(r"#\w+")

result = pattern.findall(sample_text)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [4]:
# Question 28 -Write a python program using RegEx to remove <U+..> like symbols
import re

sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

pattern = r"<U\+[0-9A-Z]{4}>"

result = re.sub(pattern,"",sample_text)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [37]:
# Question 29- Write a python program to extract dates from the text stored in the text file.
# Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
import re

text_file = open("text3.txt","r")
text = text_file.read()

pattern = (r"\d{2}-\d{2}-\d{4}")

dates = re.findall(pattern,text)
print(dates)

['12-09-1992', '15-12-1999']

In [7]:
# Question 30 - Create a function in python to remove all words from a string of length between 2 and 4.
import re

sample_text =  "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

pattern = re.compile(r"\b\w{2,4}\b")

result = pattern.sub("",sample_text)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.